:root {
    --primary-color: white;
    --secondary-color: darkslategray;
    --accent1-color: teal;
    --accent2-color: darkblue;
    --shadow-box: gray;
    --heading-font: "Palladio", "Lucida Sans", sans-serif;
    --body-font: Palladio, Lucida Sans, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* new */
.navigation {
    display: flex;
    align-content: flex-start;
    gap: 30px;
    list-style: none;
    justify-content: right;
    margin: 10px;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

/* impacts banner image section*/
header  {
    display: grid;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    grid-template-columns: 120px .5fr 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1 {
    position: absolute;
    font-family: var(--heading-font);
    color: var(--primary-color);
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
}

h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    display: grid;
    text-align: center;
    margin-bottom: 15px;
    gap: 10px;
}

.navigation, p, section, article {
    margin: 16px;
    padding: 8px;
}
.navigation a {
    text-decoration: none;
    color: var(--accent1-color)
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia {
    display: flex;
    align-items: flex-end;
    gap: 20px;    
}


.hero {
    position: relative;
}

.hero img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    top: 260px;
    width: 50%;
    left: 0px;
    opacity: 0.9;
    box-shadow: 0 0 10px var(--shadow-box);
    padding: 4px;
    background-color: var(--primary-color);
    color: var(--accent1-color)
    
}

.hero article img {
    float: right;
    height: 125px;
    width: auto;
    border: 9px;
    margin: 9px;
    box-shadow: 0 0 20px var(--shadow-box);
}

/*Here is where I adjust the 5 images under Adventure*/

.figure {
    display: flex;
    align-content: space-around;
    text-align: center;
    gap: 30px;
}


.history-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    place-items: center;
    gap: 3px
}

.history-container img {
    width: 30%;
    flex-shrink: 0;
}

.footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 50px;
}
.footer a {
    display: flex;
}