:root {
    --primary-color: white;
    --secondary-color: darkslategray;
    --accent1-color: teal;
    --accent2-color: darkblue;
    --shadow-box: gray;
    --heading-font: "Palladio", "Lucida Sans", sans-serif;
    --body-font: Palladio, Lucida Sans, sans-serif;
}

header  {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1 {
    position: absolute;
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--primary-color);
}

.hero article {
    position: absolute;
    top: 290px;
    width: 50%;
    left: 420px;
    opacity: 0.9;
    box-shadow: 0 0 10px var(--shadow-box);
    padding: 4px;
    background-color: var(--primary-color);
    color: var(--accent1-color)

}
  
.hero article img {
    float: right;
    height: 125px;
    width: auto;
    border: 9px;
    margin: 9px;
    box-shadow: 0 0 20px var(--shadow-box);
}