:root {
    --primary-color: #ffffff;
    --secondary-color: #8b4513;
    --accent1-color: #172636;
    --accent2-color: #082645;
    --shadow-box: #818589;
    --heading-font: "Palladio", "Lucida Sans", sans-serif;
    --body-font: Palladio, Lucida Sans, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

textarea {
  width: auto;

}

body {
  font-family: var(--body-font);
  color: var(--accent2-color);
}

/* impacts banner image section*/
header  {
  display: grid;
  background-color: var(--primary-color);
  color: var(--accent2-color);
  grid-template-columns: 120px .5fr 1fr;
  align-items: center;
  border-bottom: 1px solid #ccc;
  max-width: 1000px;
}

header, main, footer {
  width: 840px;
  margin: 0 auto;
}

figcaption {
  margin: 0;
  padding: 0;    
  line-height: .006;
}


h1 {
  position: absolute;
  font-family: var(--heading-font);
  color: var(--primary-color);
  top: 20px;
  width: 100%;
  padding: 26px;
  text-align: center;
  opacity: 0.9;
  background-color: var(--accent2-color);
}

h2 {
  font-family: var(--heading-font);
  color: var(--secondary-color);
  display: grid;
  text-align: center;
  margin-bottom: 20px;
  gap: 30px;
}

form {
  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 450px;
  
}



table {
  border-collapse: collapse;
  border: 2px solid var(--accent1-color);
  letter-spacing: 1px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  
} 

th, td {
  border: 3px solid var(--accent2-color);
  padding: 8px 12px;
  text-align: center;
}
thead tr, tfoot tr, td {
  color: var(--accent1-color)
}

.newsletter {
  text-align: center;
  border: 1px solid var(--accent2-color);
  border-radius: 1rem;
  margin: 50px auto 50px auto;
  width: 500px;
  align-items: center;
}
.navigation {
    display: flex;
    align-content: flex-start;
    gap: 30px;
    list-style: none;
    justify-content: right;
    margin: 10px;
}
  
.navigation, p, section, article {
    margin: 16px;
    padding: 8px;
}
  .navigation a {
    text-decoration: none;
    color: var(--accent1-color)
}
  
.socialmedia a {
    text-decoration: none;
  }
  
.socialmedia {
    display: flex;
    align-items: flex-end;
    gap: 20px;    
}
  
  
.hero {
    position: relative;
}
  
  .hero img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    top: 260px;
    width: 50%;
    left: 0px;
    opacity: 0.9;
    box-shadow: 0 0 10px var(--shadow-box);
    padding: 4px;
    background-color: var(--primary-color);
    color: var(--accent1-color)
    
}

.hero article img {
    float: right;
    height: 125px;
    width: auto;
    border: 9px;
    margin: 9px;
    box-shadow: 0 0 20px var(--shadow-box);
}

/*Here is where I adjust the 5 images under Adventure*/

.employees {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-content: space-around; */
  text-align: center;
  margin: 0;
  padding: 0;

  /* gap: 30px; */
}

.adventure {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-content: space-around; */
  text-align: center;
  margin: 0;
  padding: 0;
}

.history-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  place-items: center;
  gap: 3px
}

.history-container img {
  width: 40%;
  flex-shrink: 0;
}

.footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}

.footer a {
    display: flex;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

#mp-title {
  gap: 10px;
  border: 1px solid #000;
  padding-top: 20px;
}

.contact ul {
    padding: 0;
}

li {
  list-style-type: none;
  text-align: center;
  line-height:  1.5;
}

label [type=checkbox] {
  width: 15px;
  height: 15px;
  margin: 0 10px 0 0;
}
.m-p {
  margin-top: 10px;
}

button {
  text-decoration: none;
  width: 200px;
  height: 40px;
  border-radius: .5rem;
  margin: 15px 0 40px 0;
  font: var(--body-font);
  background-color: var(--accent2-color);
  color: var(--primary-color);
}

.button-link {
  text-decoration: none;
  padding: 15px;
  width: 200px;
  height: 35px;
  text-align: center;
  border-radius: .5rem;
  margin: 15px 0 30px 0;
  font: var(--body-font);
  background-color: var(--accent1-color);
  color: var(--primary-color);
  cursor: pointer;
  gap: 100px;
  /* font-size: large; */
  /* font-weight: bold; */
  
}

.center-button {
  text-align: center;
}

input, select, textarea {
  padding: 10px 10px 10px 10px;
  margin: 9px 1px 9px 1px;
  border-radius: .2rem;

}

.purpose {
  display: flex;
  /* flex-direction: column; */
}

input[type="radio"] {
  /* display: flex; */
  width: 15px;
  height: 15px;
  margin: 0 7px 0 0;

  /* justify-content: flex-start; */
  ;
  /* align-items: center; */
}

iframe {
  /* float: left; */
  margin: 10px 30px 10px 10px;
  border: 1px solid #000;

}

.map-form {
  display: flex;
  flex-direction: row;
}

.offerings {
  display: grid;
  flex-direction: row;
  grid-template-columns: 1fr 3fr;
  /* gap: 5px; */
  /* text-align: center; */
  /* border: 1px solid #000; */
  margin-top: 20px;
}

.offerings img {
  display: block;
  width: 300px;
  height: auto;
  margin-top: 20px;

}

.offerings h2, .offerings p {
  margin-top: 0;
  margin-bottom: 0;
}

#purpose_options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 25px 0 10px 0;
  /* border: 1px solid #000; */
}


#purpose_options li {
  display: flex;
  align-items: center;
  
}