* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: pink;
    background-color: teal;
}

header {
    margin: 20 auto;
    width: 650px;
}

h1 {
    margin: 1rem;
    font-size: 30px;
    color: navajowhite;
    text-align: center;

}

form {
    width: 700px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px dotted grey;
    border-radius: 0.5rem;
    background-color: navy;
    display: grid;
    
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 2px solid red;
}

legend {
    padding: 0.5rem;
    color: teal;
    font-size: 1.3rem;
}