nav {
    background-color: darkblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20 px;
}

h1 {
    color: darkblue;
}

imag {
    width: 150px;
    height: auto;
    border: 1 px solid black;
    padding: 2px;
    box-shadow: 0 0 30 px gray;
}

p{
    padding: 10 px;
}